/* The switch - the box around the slider */
.switch {
  font-size: 12px;
  position: relative;
  display: inline-block;
  width: 4em;
  height: 2em;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  transition: 0.4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  border-radius: 20px;
  left: 0.3em;
  bottom: 0.3em;
  background-color: #ffe86e;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #e92577;
}

input:focus + .slider {
  box-shadow: 0 0 1px #e92577;
}

input:checked + .slider:before {
  transform: translateX(2em);
}

.slider::after {
  width: 15px;
  height: 15px;
  left: 15%;
  top: 15%;
  border-radius: 50%;
  position: absolute;
  content: "";
  background-color: #000000;
  transition: ease 0.4s;
}

input:checked + .slider::after {
  left: 80%;
  width: 0px;
  height: 0px;
}

.language {
  color: #e92577;
}

.languages {
  text-decoration: none;
  cursor: pointer;
}
