@tailwind base;
@tailwind components;
@tailwind utilities;

.font40 {
  font-size: 2.5rem;
}

.font56 {
  font-size: 3.5rem;
}

.img-shadow {
  box-shadow: -1.66625rem -1.66625rem 0px #e92577;
}

.box-shadow {
  box-shadow: 0.8rem 0.8rem 0px #5252527c;
}
